img{
  display:block;
  margin-left:auto;
  margin-right:auto
}

main{
  text-align:center;
}
ul {
    max-width: 650px;
    line-height: 1.5;
    margin: 0 auto 50px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    text-align: left;
    
}
.info{
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto 50px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    text-align: left;
    
}

body{
  background:#0345;
  font-size:18px;
}